body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

* {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.left {
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 25px;
    height: 100%;
}

.nav div {
    display: flex;
    gap: 10px;

}
.nav, .lowest {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.up {
    background-color: rgb(255, 255, 255);
    
}

.below {
    background-color: whitesmoke;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    gap: 20px;
}

.projects {
    
    grid-row: 1 / 3;
}

.up-grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    
}

.upper {
    background-color: rgb(255, 255, 255);
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    
}

.search-bar {
    margin-left: 80px;
    width: 50%;
    
    
}

.top-right {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 60px;
    align-items: center;
}

.welcome {
    display: flex;
    gap: 25px;
    align-items: center;
    
}

.pfp-big {
    margin-left: 75px;
}

img {
    border-radius: 30px;
}

.buttons {
    margin-left: auto;
    margin-right: 60px;
}

button {
    margin-left: 30px;
    padding: 14px;
    padding-right: 45px;
    padding-left: 45px;
    background: pink;
    border: 0;
    border-radius: 40px;
    font-size: 1rem;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(235, 168, 179);
}

p {
    font-size: .9rem;
}
.text {
    font-weight: bold;
}

form {
    display: flex;
    align-items: flex-end;
    gap: 14px;
}

input {
    width: 80%;
    padding: 7px;
    background-color: rgb(223, 222, 222);
    border: none;
    font-size: 1rem;
    color: honeydew;
    border-radius: 20px;
}

input:focus {
    border: 1.6px solid deeppink;
    outline: 0;
}

#thing {
    position: relative;
    top: 8px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 30px;
}

.cards {
    border: 1px solid black;
    height: 150px;
    border: 0;
    border-left: 11px solid pink;
    border-radius: 6px;
    padding: 26px;
    padding-top: 30px;
    background: white;
    display: flex;
    flex-direction: column;    
}

.icons {
    display: flex;
    gap: 15px;
    margin-top: auto;
    margin-left: auto;
}

.icons img:hover {
    background-color: pink;
}

.cards p, .box p {
    color: rgb(94, 91, 91)
    
}

.announcements {
    display: flex;
    flex-direction: column;
}

.announcements-box {
    background-color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    
    
}

.box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid rgb(94, 91, 91);
}

.trending {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.trending-box {
    background-color: white;
    
    padding: 35px;
    
}

.profile {
    display: flex;
    gap: 15px;
}

.profiles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard {
    display: flex;
    align-items: center;
    font-weight: bold;
}

